{% extends "layout.html" %}

<!-- Setting title of the page -->
{% block title %} - New post {% endblock title %}

<!-- Importing all refs needed for the page -->
{% block links_refs %} {% endblock links_refs %}

<!-- Displaying main content of the page -->
{% block content %}
	<!-- TODO: This needs to be refactored (styling) -->
		<div class="wrapper-post">
			<form method="POST" action="{{url_for('create_new_post')}}">
				{{ form.hidden_tag() }}
				<fieldset class="form-group">
					<div class="form-box new_post">
						<h2>Create Post</h2>
						<div class="form-group new_post">
							{{ form.title.label(class="form-control-label") }}
							{% if form.title.errors %} {{
							form.title(class="form-control form-control-lg
							is-invalid") }}
						</div>
						<div class="invalid-feedback">
							{% for error in form.title.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
							{% else %} {{ form.title(class="form-control
							form-control-lg") }} {% endif %}
						</div>
						<div class="form-group new_post">
							{{ form.content.label(class="form-control-label") }}
							{% if form.content.errors %} {{
							form.content(class="form-control form-control-lg
							is-invalid") }}
						</div>
						<div class="invalid-feedback">
							{% for error in form.content.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<div>
							{% else %} {{ form.content(class="form-control
							form-control-lg") }} {% endif %}
						</div>
						<div class="form-group button">
							{{ form.submit(class="w-100 btn")|safe }}
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>

{% endblock content %}

<!-- Scripts: Can be custom to each Jinja2 template -->
{% block scripts %} {% endblock scripts %}
