<!-- Base layout for the entire site -->
<!DOCTYPE html>
<html lang="en">
	<!-- Head -->
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>QA Cinema {% block title %} {% endblock title %}</title>
		<!-- Stylesheets: Bootstrap, Bootstrap Icons, Swiper, Custom -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
		/>
		<!-- This can be used in other Jinja2 templates to import needed refs -->
		{% block links_refs %} {% endblock links_refs %}
		<!-- The ?v=1 makes sure this is the only css file in the website cache-->
		<link
			rel="stylesheet"
			type="text/css"
			href="{{url_for('static',filename='css/stylesheet.css')}}"
		/>
	</head>

	<!-- Body -->
	<body>
		<header>
			<!-- Navbar-->
			<nav
				class="navbar navbar-expand-lg navbar-dark custom-navbar fixed-top"
			>
				<div class="container-fluid">
					<a class="navbar-brand" href="/">
						<i class="bi bi-film" style="margin-right: 0.5em"></i>
						QA Cinema
					</a>
					<button
						class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarNav"
						aria-controls="navbarNav"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>
					<div
						class="collapse navbar-collapse justify-content-end"
						id="navbarNav"
					>
						<ul class="navbar-nav mx-auto">
							<li class="nav-item active">
								<a class="nav-link" href="{{url_for('home')}}">
									Home</a
								>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{url_for('movies')}}"
									>Movies</a
								>
							</li>
							<li class="nav-item">
								<a
									class="nav-link"
									href="{{url_for('booking')}}"
								>
									Tickets</a
								>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{url_for('about')}}">
									About</a
								>
							</li>
							<li class="nav-item">
								<a
									class="nav-link"
									href="{{url_for('classification')}}"
								>
									Classification</a
								>
							</li>
							<li class="nav-item">
								<a
									class="nav-link"
									href="{{url_for('services')}}"
								>
									Food & Drinks</a
								>
							</li>
							<li class="nav-item">
								<a
									class="nav-link"
									href="{{url_for('discussion')}}"
								>
									Discussions</a
								>
							</li>
						</ul>
						<br />
						<ul class="navbar-nav align-items-center">
							<!-- Add search bar here? Icon and text input? -->
							<!-- Displaying search results in an entire new page would be the easiest thing to do -->
							<!-- https://icons.getbootstrap.com/icons/box-arrow-in-right/ -->
							<li class="nav-item login-item">
								<a href="{{url_for('login')}}" class="nav-link">
									Log in
									<i class="bi bi-box-arrow-in-right"></i>
								</a>
							</li>
							<!-- https://icons.getbootstrap.com/icons/pencil-square/ -->
							<li class="nav-item signup-item">
								<a
									href="{{url_for('register')}}"
									class="nav-link"
								>
									Sign up <i class="bi bi-pencil-square"></i
								></a>
							</li>
						</ul>
					</div>
					<!-- </div>
                    <div class="searchbar">
                    <form class = "searchform" method="post" action="{{url_for('search')}}" >
                        {{ form.hidden_tag() }}
                        <input type="text" placeholder="Search.." , name="searched">
                        <button class="btn" type="submit", name="submit">Search</button>
                    </form>
                    </div>
                </div>
                </div>
            </nav> -->
				</div>
			</nav>
		</header>

		<!-- Main conent -->
		<main>{% block content %} {% endblock content %}</main>

		<!-- Scripts: Bootstrap, Swiper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
			crossorigin="anonymous"
		></script>
		<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
		<!-- Scripts: Can be custom to each Jinja2 template -->
		{% block scripts %} {% endblock scripts %}
	</body>
</html>
