{% extends "layout.html" %}

<!-- Setting title of the page -->
{% block title %} - Movies {% endblock title%}

<!-- Importing all refs needed for the page -->
{% block links_refs %}
<!-- Moved below to layout.html since it is also used in the home.html template -->
<!-- <link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/> -->
{% endblock links_refs %}

<!-- Displaying main content of the page -->
{% block content %}
<div class="container-fluid">
	<section class="swiper mt-5" style="height: 60vh !important">
		<div class="swiper-wrapper">
			<!-- Slides: going through all returnes movies from the route -->
			{% for movie in all_movies %}
			<div
				class="swiper-slide"
				style="
				background-image: url('{{ url_for('static', filename='imgs/movie_banners/' + movie.banner_path) }}');
				background-size: cover;
				background-position: center;
        height: 60vh;
			"
			>
				<div class="custom-overlay"></div>
				<div class="container-fluid">
					<div class="movies-page-banner-content">
						<!-- Need to add movie details here -->
						<div>
							<div class="movie-title">
								<h1>{{ movie.title }}</h1>
							</div>
							<div class="movie-details mt-4">
								<a
									href="{{url_for('booking', movie_id=movie.movie_id)}}"
									class="btn mt-4"
									>Buy tickets</a
								>
							</div>
							<!-- TODO: Add field to ERD containing the plot of the movie and display it here? -->
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</section>
	<h2 class="mt-4">All movies</h2>

	<!-- Movies Thumbs -->
	<div class="movie-list-container">
		{% for movie in all_movies %}
		<div class="movie-list-item">
			<a href="">
				<img
					src="{{ url_for('static', filename='imgs/movie_posters/' + movie.poster_path) }}"
					alt=""
				/>
			</a>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}

<!-- Can add scripts specific to this template here -->
{% block scripts %}
<script src="{{ url_for('static', filename='js/swiper.js') }}"></script>
{% endblock scripts %}
