{% extends "layout.html" %}

<!-- Displaying main content of the page -->
{% block content %}
<div class="register-wrapper">
	<h2>Join today</h2>
	<div class="content-section">
		<!-- Flash messages section -->
		{% with messages = get_flashed_messages() %} {% if messages %}
		<div class="flash-messages">
			{% for message in messages %}
			<div class="alert alert-info">{{ message }}</div>
			{% endfor %}
		</div>
		{% endif %} {% endwith %}

		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<div class="form-group">
					{{ form.username.label(class="form-control-label") }} {% if
					form.username.errors %} {{ form.username(class="form-control
					form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.username.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
					{% else %} {{ form.username(class="form-control
					form-control-lg") }} {% endif %}
				</div>
				<div class="form-group">
					{{ form.Firstname.label(class="form-control-label") }} {% if
					form.Firstname.errors %} {{
					form.Firstname(class="form-control form-control-lg
					is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.Firstname.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
					{% else %} {{ form.Firstname(class="form-control
					form-control-lg") }} {% endif %}
				</div>
				<div class="form-group">
					{{ form.lastname.label(class="form-control-label") }} {% if
					form.lastname.errors %} {{ form.lastname(class="form-control
					form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.lastname.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
					{% else %} {{ form.lastname(class="form-control
					form-control-lg") }} {% endif %}
				</div>

				<div class="form-group">
					{{ form.email.label(class="form-control-label") }} {% if
					form.email.errors %} {{ form.email(class="form-control
					form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.email.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
					{% else %} {{ form.email(class="form-control
					form-control-lg") }} {% endif %}
				</div>
				<div class="form-group">
					{{ form.password.label(class="form-control-label") }} {% if
					form.password.errors %} {{ form.password(class="form-control
					form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.password.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
					{% else %} {{ form.password(class="form-control
					form-control-lg") }} {% endif %}
					<!-- Password complexity message -->
					{% if 'danger' in messages %}
					<div class="alert alert-danger">
						{% for message in messages if
						message.startswith('Password does not meet complexity
						requirements.') %} {{ message }}<br />
						{% endfor %}
					</div>
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.confirm_password.label(class="form-control-label")
					}} {% if form.confirm_password.errors %} {{
					form.confirm_password(class="form-control form-control-lg
					is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.confirm_password.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
					{% else %} {{ form.confirm_password(class="form-control
					form-control-lg") }} {% endif %}
				</div>

				{% if 'warning' in messages %}
				<div class="alert alert-warning">
					{% for message in messages if message.startswith('Email
					address is already registered.') or
					message.startswith('Username is already registered.') %} {{
					message }}<br />
					{% endfor %}
				</div>
				{% endif %} {% if 'success' in messages %}
				<div class="alert alert-success">
					{% for message in messages if message.startswith('Account
					created') %} {{ message }}<br />
					{% endfor %}
				</div>
				{% endif %}
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="w-100 btn btn-primary btn-lg
				custom-button")|safe }}
			</div>
		</form>
	</div>
	<div class="border-top pt-3">
		<small class="text-muted">
			Already Have An Account?
			<a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
		</small>
	</div>
</div>

{% endblock content %}
