{% extends "layout.html" %}

<!-- Displaying main content of the page -->
{% block content %}
<div class="container custom-mt mb-5">
		<section class="mb-2">
			<div class="search-container">
				<h1>Search</h1>
				<form method="POST" action="{{ url_for('search') }}">
					{{ form.hidden_tag() }}
					<div class="search-form">
						{{ form.search_query(class="form-control", placeholder="Search...") }}{{ form.submit(class="btn btn-primary") }}
					</div>
				</form>
				<hr />
				<h2>Search Results</h2>
				<div class="card-deck">
					{% if results %}
						{% for movie in results %}
							<div class="card">
								<img
									src="{{ url_for('static', filename='imgs/movie_posters/' + movie.poster_path) }}"
									class="card-img-top"
									alt="{{ movie.title }}"
								/>
								<div class="card-body">
									<h5 class="card-title">{{ movie.title }}</h5>
									<a
										href="{{ url_for('movies') }}"
										class="btn btn-primary"
										>View Details</a
									>
								</div>
							</div>
						{% endfor %}
					{% else %}
						<p>No results found.</p>
					{% endif %}
			</div>
		</div>
	</section>
</div>
{% endblock %}
