{%extends "layout.html"%}
{% block content%}
<div class="Services-content">
    
    <style>
        body {
            background-image: url('https://images.unsplash.com/photo-1563381013529-1c922c80ac8d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2013&q=80');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            /* You can adjust other background properties as needed */
        }
        /* Add your additional CSS styling here */
    </style>
</head>
<body>
    <!-- Your content goes here -->
</body>
</html>
</div>
{%endblock%}