{% extends "layout.html" %}
<!-- Setting title of the page -->
{% block title %} - Services {% endblock title%}

<!-- Importing all refs needed for the page -->
{% block links_refs %} {% endblock links_refs %}

<!-- Displaying main content of the page -->
{% block content %}
<!-- MENU -->
	<!-- First section -->
	<section class="menu">
			<div class="menu-heading">Menu</div>
			<div class="menu-grid">
				{% for item in menu_items %}
				<div class="menu-card">
					<div class="menu-img">
						<img
							src="{{ url_for('static', filename='imgs/menu/' + item.image_path) }}"
							alt="{{ item.name }}"
						/>
					</div>
					<div class="menu-details">
						<h2 class="menu-title">{{ item.name }}</h2>
						<h3 class="menu-price">£{{ item.price }}</h3>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<hr>
    <!-- Another section -->
	<!-- TODO: Needs to be made responsive-->
    <section class="services">
        <h1>Cafe & Arcade</h1>
        <div class="services-grid">
            <!-- Cafe Card -->
            <div class="service-card">
                <div class="service-content">
                    <h2>QA Cafe</h2>
					<img src="../static/imgs/cafe/cafe.jpg" alt="Cafe"/>
                    <p> We're thrilled to introduce our latest venture – a brand-new cafe that's set to open its doors just a stone's throw away from our beloved cinema.
						Get ready to indulge in a cozy ambiance, a delectable array of treats, and a wide selection of aromatic brews that will elevate your cafe experience. </p>
					<small class="rainbow-text">Opening Soon!</small>
                </div>
            </div>
            <!-- Arcade Card -->
            <div class="service-card">
                <div class="service-content">
                    <h2>QA Arcade</h2>
					<img src="../static/imgs/cafe/arcade.jpg" alt="Arcade"/>
                    <p> Coming soon, we'll be unveiling an exciting arcade right within the cinema premises, 
						where you can immerse yourself in a world of thrilling games and entertainment. 
						Stay tuned for the grand opening, where fun and flavor unite for an unforgettable time out!</p>
					<small class="rainbow-text">Opening soon!</small>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
<!-- Can add scripts specific to this template here -->
{% block scripts %} {% endblock scripts %}
