{% extends "layout.html" %}

<!-- Setting title of the page -->
{% block title %} - Change title {% endblock title%}

<!-- Importing all refs needed for the page -->
{% block links_refs %}
<!-- Moved below to layout.html since it is also used in the home.html template -->
<!-- <link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/> -->
{% endblock links_refs %}

<!-- Displaying main content of the page -->
{% block content %}
<div class="container custom-mt mb-5">
	<!-- First section -->
	<section class="mb-2">
		<h1 class="mb-3">First section title</h1>
		<!-- Your content -->
		<div></div>
	</section>
	<!-- Another section -->
	<section class="mt-5 mb-1">
		<h1 class="mb-3">Another section title</h1>
		<!-- Another section content -->
	</section>
</div>
