
html * {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #2D3047
}

header {
    padding: 20px 0;
    background-color: red !important;
}

.header-logo {
    display: block;
    color: white;
    font-size: 24px;
    background-color: red !important;
}

.navbar {
    border: none;
    margin-bottom: 0;
    background-color: red !important;
}

.navbar-content {
    text-align: center;
    background-color: red !important;
}


.navbar-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    background-color: red !important;
}

.navbar-nav li {
    margin-right: 15px;
    display: inline;
    background-color: red !important;

}


.navbar-left {
    margin-top: 10px;
    display: block;
    float: left;
    background-color: red !important;
}

.navbar-right {
    float: right;
    background-color: red !important;
}

.navbar-left a {
    text-decoration: none;
    margin-right: 15px;
    background-color: red !important;
}

.navbar-nav .active a {
    font-weight: bold;
    background-color: red !important;
}

.navbar-nav a:hover {
    text-decoration: underline;
}

.col-md-8 {
    text-align: center;
    padding-top: 20px;
    display: block;
    align-items: center;
}