<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='stylesheet.css')}}?v=1">
        <!-- The ?v=1 makes sure this is the only css file in the website cache-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    </head>

    <body>
        <header>
            <nav class="navbar">
                <div class="container-fluid">
                <div class="navbar-header">
                    <a class="header-logo" href="{{url_for('home')}}">Logo</a>
                </div>
                <div class = "navbar-content">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="{{url_for('home')}}">Home</a></li>
                        <li class="active"><a href="{{url_for('movies')}}">Movies</a></li>
                        <li class="active"><a href="{{url_for('booking')}}">Tickets</a></li>
                        <li class="active"><a href="{{url_for('about')}}">About</a></li>
                        <li class="active"><a href="{{url_for('classification')}}">Classification</a></li>
                        <li class="active"><a href="{{url_for('services')}}">Food & Drink</a></li>
                        <li class="active"><a href="{{url_for('discussion')}}">Discussions</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-left">
                        <li class="active"><a href="{{url_for('login')}}">Login</a></li>
                        <li class="active"><a href="{{url_for('register')}}">Sign Up</a></li>
                    </ul>
                </div>
                </div>
            </nav>
        </header>

        <main>
          <div class="col-md-8"> 
            {% block content %}
            {% endblock %}
          </div>
        </main>

        <footer>
            <nav class="footerbar">
                <ul class="footer-links">
                </ul>
            </nav>
        </footer>

    </body>

</html>